<div class="quoteNoteContent">
    <h3>We are fetching quotes based on the information you provided</h3>
    <p>Compare prices, exclusions and features to make an informed decision.</p>
    <p>  Insurance works directly with multiple insurance companies to ensure that you receive the best possible rate for your health insurance.
    Your quote is based on your age, gender, location and opted sum insured. In order to provide you with a quotation, we have made an assumption that you or anyone else insured under the policy are permanent residents of India. Our insurance partners may contact you for completing the sale, if required.
    </p>
</div>