
@import '../../../assets/scss/variables';

.quoteDetail {
    border: 2px solid $lightBg;
    border-radius: 15px;
    .filterselected {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        @media only screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
        .filtertags {
            .filtertag {
                margin-right: 10px;
                @media only screen and (max-width: 768px) {
                    display: inline-block;
                    margin-bottom: 20px;
                }
                .taginner {
                    padding: 8px;
                    border-radius: 5px;
                    background-color: $lightBg;
                    font-size: 1rem;
                    color: $textColor;
                    img {
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
                
            }
        }
        .reset {
            @media only screen and (max-width: 768px) {
                margin-top: 10px;
            }
            a {
                cursor: pointer;
                font-size: 1rem;
                color: $anchorColor;
            }
        }
    }
    .planpages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        background-color: $lightBg;
        @media only screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
        .pagelength {
            display: flex;
            font-size: 1rem;
            color: $textColor;
            align-items: center;
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 10px;
            }
            ng-select {
                margin: 0 10px;
            }
        }
        .pagesort {
            display: flex;
            font-size: 1rem;
            color: $textColor;
            align-items: center;
            @media only screen and (max-width: 768px) {
                width: 100%;
                margin-top: 10px;
            }
            ng-select {
                margin-left: 10px;
            }
        }
    }
}