<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/Logo.png" alt="LOGO" style="width: 70px;" />
        </a>
        <div class="top-flip">
            <p>Use your superpowers  to compare and get best deals</p>
            <p>Quote ID - 2021072950306</p>
            <div class="topQuote">
                <a href="" class="btn btn-default">
                    <span><img src="../../../assets/images/Return.png" alt="" style="height: 18px;" /></span>
                    Send Quote
                </a>
                <a href="" class="btn btn-default">
                    <span><img src="../../../assets/images/Edit.png" alt="" style="height: 18px;" /></span>
                    Edit Details
                </a>
            </div>
            <span class="cross"></span>
        </div>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/images/Group116.png" alt="" style="width: 36px;" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/images/Group22.png" alt="" style="width: 36px;" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../../assets/images/dummy-profile-pic.jpg" alt="" style="width: 36px; border-radius: 8px;" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  