
@import '../../assets/scss/variables';
.quoteheader {
    padding: 20px 0;
    h2 {
        font-size: 1.4rem;
        color: $textColor
    }
}
.top-flip {
    display: flex;
    padding: 8px 20px;
    background-color: #f5f5f5;
    border-radius: 12px;
    align-items: center;
    max-width: 620px;
    margin: auto;
    p {
        padding: 0 10px;
        border-right: 1px solid #CDCDCD;
        margin: 0;
        color: $textColor;
        &:nth-child(2) {
            border: none;
        }
    }
    .topQuote {
        margin: 0 30px 0 100px;
    }
    .cross {
        margin-right: 0px;
    }
}