<div class="mainfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="align-left">
                            <span>Category</span>
                            Composite Broker
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p class="align-center">
                            <span>CIN No.</span>
                            U67200MH2003PTC141621
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p class="align-right">
                            <span>IRDAI Registration No.</span>
                            217
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
    </div>
</div>
<div class="footerinner">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <p class="align-left">
                    Copyright &copy; 2021
                </p>
            </div>
            <div class="col-lg-6">
                <p class="align-right">
                    Health Insurance Pvt. Ltd.
                </p>
            </div>
        </div>
    </div>
</div>